<% include partials/header %>
<div class="col" id="dropdown-nav">
            <div class="col dropdown-item">Home</div>
            <div class="col dropdown-item">Contact</div>
            <div class="col dropdown-item">Finance</div>

</div>
<section>
      <div class="row topbanner">
            <div class="col-lg-6">
        <p class="banner-heading pt-lg-5">DRIVE YOUR PASSION</p>
            </div>
            <div class="col-lg-6">
             <img class="bannerimg img-fluid" src="red-car.png">
            </div>
   
      </div>
</section>
<section>
      <div class="collection-div">
                  <div class="collection-btn border" >
          <a href="#" class="collection-link">
             Collection
           </a></div>
      </div>
</section>
<div class="landingcontainer">
        <div class="row">
            <div class="col-lg-3">
                  <% include landing/searchbar %>
            </div>
            <div class="col-lg-9">
                  <% include partials/displaycars %>       
            </div>
        </div>    
      
</div>
<section>
 <div id="help-section">
      <div class="row">
            <div id="question-area-heading" class="col">
                  <p class="">LET US HELP YOU FIND YOUR PERFECT VEHICLE</p>
            </div>
      </div>
      <div class="row">
            <div id="questions-textarea" class="col-lg-6">
                  <textarea placeholder="What is your deepest Darkest Desire"> </textarea>
            </div>
            <div class="col-lg-6 stacked">
                  <ul class="info-form"> 
                        <li><input type="text" placeholder="First Name"></li>
                        <li><input type="text" placeholder="Last name"></li>
                        <li><input type="email" placeholder="Email"></li>
                        <li><input type="number" placeholder="Phone Number"></li>
                  </ul>
            </div>
      </div>  
      <div class="book-appointment-div">
            <button class="book-appointment">Book Appointment</button>
      </div>   
</div>
</section>
<% include partials/footer %>